<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/friends.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UYOGA Friends</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/logo.png" alt ="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="index.html"> Home </a></li>
                <li><a href="friends.html"> Friends </a></li>
            </ul>
        </nav>
        <a class="cta" href="/"><button>Workout</button></a>
    </header>
    <br>
    <br>
    <br>
    <section id="slogan">
        <!-- <div class="slogan container">
            <div class="hero__wrapper">
                <div class="hero__left">
                    <h1> Connecting to</h1>
                    <h1> Yourself and</h1> 
                    <h1> Others</h1>
                    <a href="#" type="button" class="cta" > Learn More </a>
                </div>
                <div class="hero__right">
                        <img src="images/indexcharacter.png" alt="yoga img">
                </div>
            </div>
        </div> -->

        <div class="banner">
            <div class="left-col">
                <h1>REFER your friends!</h1>
                <br>
                <form>
                    <input type="text" id="Email" placeholder="Workout Code" name="useremail" />
                    <br>
                    <input type="text" id="Phone" placeholder="Friend's Phone Number" name="Phonenumber" />
                    <br>
                </form>
                <a href="friends.html" type="button" class="cta" > Send invitation </a>
            </div>
            <div class="right-col">
                <img src="../static/loginchar.png" alt="yoga img">
            </div>
        </div>
    </section>
</body>
</html>