@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body{
    overflow-x: hidden;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: black;
    text-decoration: none;
}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 30;
    font-size: 30px;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 30;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 13%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #98c1d9;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

button {
    margin-left: 60px;
    padding: 9px 25px;
    background-color: #98C1D9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: antiquewhite;
}

#slogan {
    position: relative;
}

#slogan h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: black;
    padding: 0px 13%;
    background-color: transparent;
}

#slogan .cta {
    margin-top: 60px;
    margin-left: 13%;
    display: inline-block;
    color: white;
    padding: 15px 40px;
    background-color: #EE6C4D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#slogan .cta:hover {
    background-color: antiquewhite;
}

.section {
    scroll-behavior: smooth;
}

.banner {
    display: flex;
}

.left-col, .right-col {
    flex-basis:50%;
}

.left-col{
    margin-left: 8%;
}

.right-col{
    margin-right: 8%;
}

.right-col img{
    width: 75%;
}

.left-col-about, .right-col-about {
    flex-basis:50%;
}

.left-col-about{
    height: 400px;
    text-align: center;
    background-color: #3D5A80;
    margin-left: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.right-col-about{
    height: 400px;
    margin-top: 0;
    text-align: center;
    background-color: #EAEAEA;
    margin-right: 8%;
    vertical-align: middle;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
}

.left-col-more, .right-col-more {
    flex-basis:50%;
}

.left-col-more{
    height: 400px;
    text-align: center;
    background-color: #EAEAEA;
    margin-left: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.right-col-more{
    height: 400px;
    margin-top: 0;
    text-align: center;
    background-color: #3D5A80;
    margin-right: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
}

.spacerVertical{
    height: 300px;
}